In [1]:
import pandas as pd

1.

In [2]:
data = {
    'City': ['Jalandhar'] * 6 + ['Chandigarh'] * 5,
    'Age': [20, 31, 34, 18, 20, 50, 20, 30, 40, 50, 60]
}
df = pd.DataFrame(data)
mean_ages = df.groupby('City')['Age'].mean()

print("Mean age of Jalandhar:", mean_ages['Jalandhar'])
print("Mean age of Chandigarh:", mean_ages['Chandigarh'])

Mean age of Jalandhar: 28.833333333333332
Mean age of Chandigarh: 40.0

2

In [3]:
data = {
    'City': ['Jalandhar'] * 6 + ['Chandigarh'] * 5,
    'Age': [20, 31, 34, 18, 20, 50, 20, 30, 40, 50, 60]
}
df = pd.DataFrame(data)
mean_ages = df.groupby('City')['Age'].mean()

print("Mean age of Jalandhar:", mean_ages['Jalandhar'])
print("Mean age of Chandigarh:", mean_ages['Chandigarh'])

Mean age of Jalandhar: 28.833333333333332
Mean age of Chandigarh: 40.0

3

In [4]:
import numpy as np

data = {'A': [1, 2, np.nan, 4], 
        'B': [np.nan, 2, 3, 4], 
        'C': [1, np.nan, 3, 4]}
df = pd.DataFrame(data)
mean_b = df['B'].mean()
df['B'] = df['B'].fillna(mean_b)
df = df.dropna(subset=['A', 'C'])
print(df)

     A    B    C
0  1.0  3.0  1.0
3  4.0  4.0  4.0

4.

In [5]:
email_series = pd.Series(['alice@o7services.com', 'bob@gmail.com', 'charlie@yahoo.com'])
domain_names = email_series.str.split('@').str[1]
print(domain_names)

0    o7services.com
1         gmail.com
2         yahoo.com
dtype: object