1

In [16]:
import pandas as pd

In [17]:
record = {
  'Name': ['Ankit', 'Amit', 'Aishwarya', 'Priyanka', 'Priya', 'Shaurya' ],
  'Age': [21, 19, 20, 18, 17, 21],
  'Stream': ['Math', 'Commerce', 'Science', 'Math', 'Math', 'Science'],
  'Percentage': [88, 92, 95, 70, 65, 78]}

In [19]:
df= pd.DataFrame(record)
df

        Name  Age    Stream  Percentage
0      Ankit   21      Math          88
1       Amit   19  Commerce          92
2  Aishwarya   20   Science          95
3   Priyanka   18      Math          70
4      Priya   17      Math          65
5    Shaurya   21   Science          78

In [21]:
filtered_df = df[df['Stream'].isin(['Math', 'Commerce'])]

filtered_df

       Name  Age    Stream  Percentage
0     Ankit   21      Math          88
1      Amit   19  Commerce          92
3  Priyanka   18      Math          70
4     Priya   17      Math          65

In [22]:
filtered_df2 = df[~df['Stream'].isin(['Science'])]

filtered_df2

       Name  Age    Stream  Percentage
0     Ankit   21      Math          88
1      Amit   19  Commerce          92
3  Priyanka   18      Math          70
4     Priya   17      Math          65

In [24]:
math_under_20 = df[(df['Stream'] == 'Math') & (df['Age'] < 20)]
print("Students in Math stream under age 20:")
math_under_20

Students in Math stream under age 20:

       Name  Age Stream  Percentage
3  Priyanka   18   Math          70
4     Priya   17   Math          65

In [25]:
count_com_sci = df[df['Stream'].isin(['Commerce', 'Science'])].shape[0]
print("\nTotal number of students in Commerce and Science stream:", count_com_sci)

Total number of students in Commerce and Science stream: 3

In [26]:
science_df = df[df['Stream'] == 'Science']
max_percent_student = science_df.loc[science_df['Percentage'].idxmax(), 'Name']
print("\nStudent with highest percentage in Science stream:", max_percent_student)

Student with highest percentage in Science stream: Aishwarya

2

In [ ]:

data = {
    'City': ['Jalandhar'] * 6 + ['Chandigarh'] * 5,
    'Age': [20, 31, 34, 18, 20, 50, 20, 30, 40, 50, 60]
}
df = pd.DataFrame(data)
mean_ages = df.groupby('City')['Age'].mean()

print("Mean age of Jalandhar:", mean_ages['Jalandhar'])
print("Mean age of Chandigarh:", mean_ages['Chandigarh'])

Mean age of Jalandhar: 28.833333333333332
Mean age of Chandigarh: 40.0

3

In [ ]:


data = {
    'City': ['Jalandhar'] * 6 + ['Chandigarh'] * 5,
    'Age': [20, 31, 34, 18, 20, 50, 20, 30, 40, 50, 60]
}
df = pd.DataFrame(data)
mean_ages = df.groupby('City')['Age'].mean()

print("Mean age of Jalandhar:", mean_ages['Jalandhar'])
print("Mean age of Chandigarh:", mean_ages['Chandigarh'])

      name  age      city
2  charlie   30   chicago
3    david   35  new york

4.

In [ ]:
import pandas as pd
import numpy as np

data = {'A': [1, 2, np.nan, 4], 
        'B': [np.nan, 2, 3, 4], 
        'C': [1, np.nan, 3, 4]}
df = pd.DataFrame(data)
mean_b = df['B'].mean()
df['B'] = df['B'].fillna(mean_b)
df = df.dropna(subset=['A', 'C'])
print(df)

     A    B    C
0  1.0  3.0  1.0
3  4.0  4.0  4.0

5.

In [ ]:
import pandas as pd
email_series = pd.Series(['alice@o7services.com', 'bob@gmail.com', 'charlie@yahoo.com'])
domain_names = email_series.str.split('@').str[1]
print(domain_names)

0    o7services.com
1         gmail.com
2         yahoo.com
dtype: object